<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    {{!-- <link rel="stylesheet" href="assets/css/style.css"> --}}
    <title>ORDER BURGERS!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>
<div class="header">
	<img src="/../../../public/images/burger.gif">
</div>
<div class="container">

    {{{body}}}

</div>
</body>

<script>
    $(".eaten").on("click", function (event) {
        console.log("eaten")
        var id = $(this).data("id");
        console.log(id);
        var eaten = 1
        var nowEaten = {
            eaten: eaten
        };
        $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: nowEaten
        }).then(
            function () {
                console.log("changed eaten to " + nowEaten);
                location.reload();
            }
        );
    });
//click adds burger in input to burger list
    $(".create-form").on("submit", function (event) {
        event.preventDefault();
        var newBurger = {
            name: $("#burger1").val().trim(),
        };
        $("#burger").val("");
        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                console.log("created new burger");
                location.reload();
            }
        );
    });
</script>

</html>